<!-- Page Header -->
<header class="masthead" style="background-image: url('assets/img/hacker2.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1 class="index">Hacker News</h1>
          <span class="subheading">A place for all thing hacks</span>
          {{#unless saved}}
          <a class="btn btn-primary mt-2" id="scrape" href="/scrape">Scrape</a>
          {{/unless}}
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container" id="alert">
  <div class="row">
    <div class="col-lg-10 col-md-12 mx-auto">
      <div id="alertMsg" class="clear" role="alert"></div>

      {{#each found}}
      <div class="post-preview">
        <div class="row">
          <div class="col-md-4">
            <img class="post-img" src="{{img}}" alt="Smiley face">
            {{#if saved}}
            <a class="mt-2 saveArticle" id="unsave" href="#" data-id={{id}}><i class="fas fa-bookmark"></i>
              Remove Saved Article</a>
            {{else}}
            <a class="mt-2 saveArticle" id="save" href="#" data-id={{id}}><i class="fas fa-bookmark"></i>
              Save Article</a>
            {{/if}}
            </br>
            <a class="mt-2"  href={{link}}><i class="fas fa-link"></i>
              Original Link</a>
              </br>
            <a class="mt-2" href="/post?id={{id}}#comment" data-id={{id}}><i class="fas fa-comment-dots"></i>
              Comments</a>
          </div>
          <div class="col-md-8">
            <a class="postLink" data-id={{id}} href="/post?id={{id}}">
              <h2 class="post-title">
                {{title}}
              </h2>
            </a>
            <p class="post-subtitle">
              {{desc}}
            </p>

            <p class="post-meta">Posted by
              {{author}} on {{date}}</p>


          </div>
        </div>
      </div>
      <hr>
      {{/each}}
      <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
      </div>
    </div>
  </div>
</div>