<!-- Page Header -->
<header class="masthead" style="background-image: url('assets/img/hacker2.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>{{title}}</h1>
                    <span class="meta">Posted by
                        {{author}} on {{date}}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<article>
    <div class="container">
        <div class="row ">
            <div class="col-lg-8 col-md-10 mx-auto target-div">

                {{{html}}}
            </div>
        </div>
    </div>
</article>

<hr>
<div class="container " id="Comment">
    <div class="row ">
        <div class="col-lg-8 col-md-10 mx-auto target-div comment-section">
            <h3 class="text-center">Comments</h3>
            <form>

                <div class="form-group">
                    <input type="text" class="form-control" id="name" placeholder="Name" required>
                </div>

                <div class="form-group">
                    <textarea class="form-control" id="commentArea" rows="3" placeholder="Enter your comment here."
                        required></textarea>
                </div>
                <button id="comment" data-id={{id}} type="submit" class="btn btn-primary">Submit</button>
            </form>


            </br>
            <ul id="commentSection" class="list-unstyled ui-sortable">
                {{#each comments}}
                </br>

                <strong class="pull-left primary-font">{{name}}</strong>
                <small class="pull-right text-muted">
                    <span class="glyphicon glyphicon-time"></span>{{date}}                <a class="removeComment float-right" href="#" data-id={{id}}><i class="fas fa-times"></i>
                </a></small>

                </br>
                <li class="ui-state-default">{{comment}} </li>
                {{/each}}
            </ul>

        </div>
    </div>
</div>